*.vcxproj
App/App.vcxproj.user
*.filters
*.obj
*.tlog
*.pdb
*.lib
*.exp
*.ilk
*.log
*.suo
*.cache
*.idb
*.user
Bin/Debug/x64/App64D.exe
Bin/Release/x64/App64.exe
*.dll
*.exe
*.opendb
*.db
*.sln
*.d

*.o

*.a

*.so

App/Makefile

Bin/Release/x64/

CLW/Makefile

Calc/Makefile

Gtest/Makefile

Makefile
